<%= form_tag('/', method: 'get') do %>
        <div class="search-form ">
            <%= text_field_tag(:full_name, params[:full_name], placeholder:"username", class:"search left") %>
            <div style="padding-top: 10px;">
                <%= submit_tag("Search", name: nil, class:"btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1 search-submit right") %>
            </div>
        </div>
<% end %>


<div style="padding-top: 40px;" >
    <% @users.each do |usr| %>
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <% if usr.profile_pic.nil? %>
                    <%= image_tag("default.jpg", class: "profile-pic")%>
                <% else %>
                    <%= image_tag usr.profile_pic, class: "profile-pic" %>
                <% end %>
            </div>
            <div class="card-stacked">
                <div class="card-title username">
                    <%= link_to usr.first_name + usr.last_name, usr %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>