<div style="maxWidth: 550px; margin:0 auto;">
    <div style=" display:flex;justifyContent:space-around;margin: 18px 0px;borderBottom:1px solid grey">
    <% if current_user.profile_pic.nil? %>
        <%= image_tag("default.jpg", class: "profile-pic")%>
    <% else %>
        <%= image_tag current_user.profile_pic, class: "profile-pic" %>
    <% end %>
    <div style=" width:108%;">
        <div class="name center">
            <%= current_user.first_name + current_user.last_name  %> <br>
        </div>
        <div class="image-upload fr-button">
            <!-- Upload Image -->
            <%= form_for current_user, url:'/my_profile', html: { multipart: true } do |f| %>
                Upload new Profile Image: <%= f.file_field :image , class: "file-field input-field" %>
                <%= f.submit "Upload", class:"btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1"%>
            <% end %>
        </div>
    </div>
</div>
<hr>
<%= render 'partials/show_posts' %> 