<div style="maxWidth: 550px; margin:0 auto;">
    <div style=" display:flex;justifyContent:space-around;margin: 18px 0px;borderBottom:1px solid grey">
    <% if @user.profile_pic.nil? %>
        <%= image_tag("default.jpg", class: "profile-pic")%>
    <% else %>
        <%= image_tag @user.profile_pic, class: "profile-pic"%>
    <% end %>
    <div style=" width:108%;">
        <div class="name center">
            <%= @user.first_name + @user.last_name  %> <br>
        </div>
        <div class="fr-button">
            <%= form_tag('/user/'+ @user.id.to_s) do %>
                <% if !@outgoing.empty?  %>
                    <% if !@outgoing.first.accepted %>
                        <%= submit_tag("Pending", name: nil,disabled: true, class:"btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1" ) %>
                    <% end %>
                <% elsif !@incomming.empty? %>
                    <% if !@incomming.first.accepted %>
                        <%= hidden_field_tag :do, "accept" %>
                        <%= submit_tag("Accept Friend Request", name: nil, class:"btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1" ) %>
                    <% end %>
                <% else  %>
                    <%= hidden_field_tag :do, "friend_request" %>
                    <%= submit_tag("Friend Request", name: nil, class:"btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1" ) %>
                <% end  %>
            <% end %>
        </div>
    </div>
</div>
<hr>
<%= render 'partials/show_posts' %> 
