<div class= "mycard">
  <div class="card auth-card input-field center">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.email_field :email, autofocus: true, placeholder:"Email", autocomplete: "email", class: "input-field"  %>

      
      <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1" %>
    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
