<div class= "mycard">
  <div class="card auth-card input-field center">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input-field" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input-field" %>
      
      <% if devise_mapping.rememberable? %>
        <label>
          <input type="checkbox" class="filled-in blue"  value="1" name="user[remember_me]" id="user_remember_me">
          <span>Remember me</span>
        </label>

      <% end %>
      
      <div class="sub-button">
        <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn waves-effect waves-light #64b5f6 blue darken-1" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>